<div class="container mt-4">
  <h1>{{ title }}</h1>
  
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">问题</h5>
      <p class="card-text">请展示一些示例数据，包括表格、图表、参考文档和工具调用</p>
    </div>
  </div>
  
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">回答</h5>
      <div class="answer-content">
        <!-- 使用内容渲染器组件 -->
        <ng-container *ngFor="let item of contents">
          <!-- 这里的 item.description 只是示例 -->
          <p>{{ item.description }}</p>
          <t-renderer [data]="item"></t-renderer>
        </ng-container>
      </div>
    </div>
  </div>
</div>
